@import url('./assets/fonts.css');

:root{
  --one-color:#FF8551;
  --two-color:#FAF0E4;
  --three-color:#9BCDD2;
  --gradient:var(--one-color),var(--two-color), var(--one-color);

}



.profilePicture{
  content: url("../src/assets/images/profile-picture.jpg");
  width: auto;
}

.testImage{
  content: url('../src/assets/images/todo-project.png');
}

body{
  padding: 0px;
  margin:0px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
section{
  height: 100dvh;
  padding: 0;
  width: 100%;
}
a,
a:visited{
  text-decoration: none;
  width: fit-content;
  margin: 0;
  padding:0;
  height: fit-content;
}

hr{
  width: 1px;
  background-color: gray;
  margin: 0px;
}

ul{
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper{
  width: 70%;
  padding-bottom: 5rem;
  margin: auto;

}

.pressable{
  cursor: pointer;
}

.pressable:active{
  transform: translateY(2px);
}

.container{
  min-width: 80dvw;
  height: 100%;
}

.flex{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-center{
  align-items: center;
}

.header{
  font-size: 2.5em;
  font-weight: bold;
}

.intro-section{
  background-image: url(../src/assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro-section .wrapper{
  height: 100%;
}

.center {
  margin: auto;
}

.center-text{
  text-align: center;
}

.introduction-layout{
  gap: 2rem;
  width: 50%;
  height: 100%;
}

.intro-text-box{
  width: 100%;
  display: flex;
  flex-direction: column;  
  
}

.main-text{
  font-size: 3dvw;
}

.no-margin{
  margin: 0;
}

.profile-container{
  height: 50%;
  padding: 20px;
  position: relative;
  max-width: 60%;

  top: 25%;
  
}

.profile-box{
  gap: 2em;
  height: 100%;
  width: 100%;
  justify-content: start;
}


.profile-description-box{
  font-size: 1em;
  font-weight: 600;
  gap: 1em;

}

.profile-img{
border-radius: 15%;
}

.icon-group{
  gap: 3rem;
  width: fit-content;
  align-items: baseline;
}

.icon-link{
  align-items: center;
  gap: .5em;
  font-weight: 900;
}

.profile-skills{
  width: 100%;
  position: relative;
}

.skills{
  width: 100%;
  gap: .25em;
  flex-wrap: wrap;
  
}

.profile-skills li{
  width: fit-content;
  background: var(--two-color);
  padding: 1rem;
  border-radius: 15px;
}


/* Project Section */
.project-section{
  background: linear-gradient(var(--gradient));
  margin: 0;
  height: fit-content;
}


.project-box{
  width: 70%;
  border: solid;
  border-radius: 25px;
  box-shadow: 0px 5px 10px 0px;
  margin-bottom: 2.5rem;
  overflow: hidden;
  background: var(--two-color);
  padding-bottom: 2em;
  min-height: fit-content;
} 

.project-box img{
  max-width: 100%;  
}

.project-description{
  width: 75%;
}

.project-link-box{
  position: relative;
}

.button-style{
  background-color: var(--three-color);
  height: 2.5em;
  border-radius: 5px;
  font-weight: bold;
  color: black;
  box-shadow:lightgray 2.5px 2.5px;
  margin: 5px;
}

.button-style:hover{
  background-color: var(--one-color);
  color:white;
}
.button-style:active{
  transform: translateY(2px);
  box-shadow: lightgray .5px .5px;
}


.button-group{
  gap: 1rem;
  justify-content: center;
  position: relative;
}

.about-section{
  background-color: var(--three-color);
  height: fit-content;
}

.about-section p{
  font-size: 2rem;
}


.contact-box{
  height: 10%;
  background: linear-gradient(180deg,var(--one-color), var(--one-color));
}

.contact{
  justify-content: space-evenly;
  grid-area: 1rem;
}

.contact div{
  width: 40%;
  background:#9BCDD2;
  padding: 25px;
  border-radius: 15px;
}

.contact-content{
  color: black;
  font-weight: 900;
  font-size: 1.25dvw;
}

.contact-box:hover .contact-content{
  color: white;
}

.contact-section{
  background: var(--two-color);
  height: fit-content;
}


.form-control{
  position: relative;
  gap: 1em;
  justify-content: center;
  width: 100%;
}
.form-control input{
  font-size: 1.25rem;
}

.form-control .button-style{
  width: 100%;
  background-color: #FAF0E4;
}

.form-control .button-style:hover{
  
  color: black;
}
@media (max-width:1000px) {
  section{
    height: fit-content;
  }
  .profile-box{
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .profilePicture{
    width: 25%;
    border-radius: 25%
    
  }
  .icon-group{
    margin: auto;
  }
  .icon-link{
    width: 8dvw;
  }
  .project-layout .wrapper{
    width: 100%;
  }
  .contact-section{
    height: fit-content;
  }
  .profile-container{
    height: fit-content;
   ;
    min-width: fit-content;
  }
  .swiper-button-next,
  .swiper-button-prev{
    display: none !important;
  }
  .main-text{
    font-size: 2rem;
  }
  .profilePicture{
    width: 70%;
  }
  .contact-content{
    font-size: 1rem;
  }
  .contact{
    flex-direction: column;
    gap: 1rem;
  }
  .contact div{
    width: 100%;
  }
}


.custom-shape-divider-bottom-1689963457 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1689963457 svg {
  position: relative;
  display: block;
  width: calc(171% + 1.3px);
  height: 123px;
}

.custom-shape-divider-bottom-1689963457 .shape-fill {
  fill: #FF8551;
}

.spacert{
  aspect-ratio: 900/600;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.layer1{
  background-image: url('./assets/icons/layered-waves.svg');
}
